
body {
    margin: 0px;
    padding: 0px;
}

.password-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.password-generator-title {
    font-size: 55px;
}

.password-generator-subtitle {
    margin-top: 20px;
    font-size: 30px;
}

.pass-display-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 60px;
}



.input-generator-cont {
    display: flex;
    margin-top: 20px ;
}

.input-generator-value {
    margin-left: 10px;
    padding: 5px;
    background-color: #279bef;
    color: white;
    width: 35px;
    text-align: center;
    border-radius: 5px;
}

.input-generator {
    width: 300px;
    color: #279bef;
    cursor: pointer;
}


.options {
    display: flex;
    margin-top: 30px;
}

.input-cont {
    display: flex;
    margin: 10px;
    cursor: pointer;
}

.not-option {
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: #cb473e;
    border-radius: 5px;
}


.option-checkbox {
    cursor: pointer;
}

.generate-button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #279bef;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.generate-button:hover {
    border: 2px solid gray;
}

.pass-display {
    font-size: 20px;
}

.pass-warning-cont {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.pass-warning-icon {
    border-radius: 50%;
    padding: 2px;
    border: 1px solid white;
    text-align: center;

    font-size: 10px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.pass-warning {
    font-size: 15px;
}

.bad {
    color: white;
    background-color: #cb473e;
}

.med {
    color: white;
    background-color: #f07d58;
}

.perfect {
    color: white;
    background-color: #55a95d;
}